.hexagon {
  position: relative;
  width: 42px;
  height: 42px;    
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  background: #E0E0E0;
  cursor: pointer;
}
.inner-hex {
  position: absolute;
  width: 36px;
  height: 36px;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  background: white;
  cursor: pointer;
  top: 3px;
  left: 3px;
}
.points {
  margin-left: 18dpx;
  margin-top: 15px;
  user-select: none;
  color: white;
}